<h1 class="main-title">sonwboards</h1>
<h1 class="sub-title">Aliquam erat volutpat. Curabitur ut consequat arcu eget laoreet est</h1>
<is-slick-slider>
    <div class="img-slider"><img class="img-responsive" src="assets/board.png" /></div>
    <div class="img-slider"><img class="img-responsive" src="assets/board1.png" /></div>
    <div class="img-slider"><img class="img-responsive" src="assets/board2.png" /></div>
    <div class="img-slider"><img class="img-responsive" src="assets/board3.png" /></div>
    <div class="img-slider"><img class="img-responsive" src="assets/board4.png" /></div>
</is-slick-slider>
<h1 class="carrousel-title">Snowboard extreme Series</h1>